body {
    font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 480px) {
    body {
        background-color: #3e48cc;
    }


    .topo {
        justify-content: center;
        display: flex;
    }

    .logo {
        display: flex;
        width: 150px;
        height: 70px;
        margin: 30px;
    }

    .logo-trem {
        display: flex;
        height: 80px;
        width: 30px;
        justify-content: center;
    }

    .rotas {
        width: 30px;
        height: 40px;
    }

}